html,
body {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #eeeeee;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

.accountMenuActive,
.accountMenuActive svg{
  color: #1d72b1
}

/* swal */

.swal2-title{
  font-size: 1rem !important
}

.swal2-styled.swal2-confirm{
  background-color: #1d72b1;
}

.swal2-html-container{
  font-size: .9rem !important;
}

.swal2-styled.swal2-confirm{
  background-color: #d30000 !important;
}

.swal2-styled.swal2-deny{
  background-color: #5c5c5c !important;
}

.boxVertify {
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxVertify > div {
    width: 100% !important;
    display: flex;
    justify-content: center
}
.boxVertify > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%
}
.boxVertify input {
  margin: 4px;
  border: none !important;
  border-radius: 10px !important;
  background-color: #eeeeee;
  font-family: Be Vietnam Pro, sans-serif !important;
  font-weight: 200;
  width: calc(100% / 6) !important;
}

/* template */
.templateThumbnail{
  width: 100%;
  height: 220px;
  object-fit: cover;
  object-position: top;
  border-radius: 8px 5px 0 0;
}
.templateDetailThumbnail{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 8px 5px 0 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
@media print {
  body * {
    visibility: hidden; 
  }
  #printableArea, #printableArea * {
    visibility: visible; 
  }
  #printableArea {
    position: absolute;
    left: 0;
    top: 0; 
    right:0;
    padding: 0 20px
  } 
}